.font1{
    position: relative;
       top: 150px;
   }
   .text{
       position: relative;
       top: 50px;
       width: auto;
       height: auto;
   }
   .font2{
       position: relative;
       top: 100px;
   
   }
   .form{
       position: relative;
       top: -170px;
   }
   
   .card{
       position: relative;
       width:50%;
       height: auto;
       left: 26%;
       justify-content: center;
   }
   .Number {
       color: #25a307;
   
   }
   .liste{
       position: relative;
       top: 10px;
   }
   .liste2{
       position: relative;
       top: 20px;
   }
   .form2{
    position: relative;
    float: left;
   }
   .bouton{
    position: relative;
    top: 20%;
   }
   .list3{
    position: relative;
    top: -200px;
   }